In [1]:
import numpy as np
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk
from sklearn.linear_model import LinearRegression

In [2]:
db_path = './data/cruise_post.db'
conn = sqlite3.connect(db_path)
cruise_post_data = pd.read_sql_query(sql="SELECT * FROM cruise_post", con=conn)
cruise_post_data.head()
# Save DataFrame to CSV
# data.to_csv('cruise_post.csv', index=False)

# data = pd.read_csv('fishing.csv')
# data = pd.DataFrame(data)
# data.head()

,index,Cruise Name,Ticket Type,Cruise Distance,Ext_Intcode,WiFi,Dining,Entertainment
0,0,Blastoise,None,3567 KM,LB446RWOOZI,1.0,1,1.0
1,1,Blastoise,Deluxe,672 KM,LB138HKBECM,NaN,0,1.0
2,2,IAPRAS,Deluxe,1167 KM,BL713UHBAAN,NaN,0,0.0
3,3,Lapras,Deluxe,280 KM,LB243DMKCFL,NaN,0,1.0
4,4,Lapras,Standard,1145 Miles,LB218CFLOBS,NaN,1,NaN

In [3]:
db_path = './data/cruise_pre.db'
conn = sqlite3.connect(db_path)
cruise_pre_data = pd.read_sql_query(sql="SELECT * FROM cruise_pre", con=conn)
cruise_pre_data.head()
# Save DataFrame to CSV
# data.to_csv('cruise_pre.csv', index=False)

,index,Gender,Date of Birth,Source of Traffic,Onboard Wifi Service,Embarkation/Disembarkation time convenient,Ease of Online booking,Gate location,Logging,Onboard Dining Service,Online Check-in,Cabin Comfort,Onboard Entertainment,Cabin service,Baggage handling,Port Check-in Service,Onboard Service,Cleanliness,Ext_Intcode
0,0,None,05/10/1973,Direct - Company Website,A little important,3.0,5.0,3.0,01/01/2023 0:00,Very important,2.0,2.0,A little important,2.0,2.0,4.0,2.0,3.0,LB446RWOOZI
1,1,Female,None,Indirect - Social Media,Not at all important,4.0,1.0,NaN,01/01/2023 0:01,Very important,NaN,4.0,None,2.0,3.0,4.0,4.0,4.0,LB138HKBECM
2,2,Female,22/07/1998,Indirect - Search Engine,None,3.0,0.0,5.0,01/01/2023 0:02,None,NaN,5.0,Extremely important,2.0,1.0,2.0,3.0,NaN,BL713UHBAAN
3,3,Female,01/05/1970,Direct - Company Website,Very important,4.0,4.0,4.0,01/01/2023 0:05,Somewhat important,4.0,4.0,None,NaN,NaN,3.0,2.0,4.0,LB243DMKCFL
4,4,Male,07/01/1960,Direct - Company Website,Somewhat important,4.0,2.0,NaN,01/01/2023 0:06,Not at all important,2.0,NaN,Not at all important,3.0,NaN,5.0,2.0,NaN,LB218CFLOBS

In [4]:
cruise_pre_data = cruise_pre_data.set_index('Ext_Intcode').groupby("Ext_Intcode").fillna(method="ffill").reset_index()
cruise_pre_data = cruise_pre_data.set_index('Ext_Intcode').groupby("Ext_Intcode").fillna(method="bfill").reset_index()

cruise_post_data = cruise_post_data.set_index('Ext_Intcode').groupby("Ext_Intcode").fillna(method="ffill").reset_index()
cruise_post_data = cruise_post_data.set_index('Ext_Intcode').groupby("Ext_Intcode").fillna(method="bfill").reset_index()

# Save DataFrame to CSV
cruise_pre_data.to_csv('cruise_pre_filled.csv', index=False)
cruise_post_data.to_csv('cruise_post_filled.csv', index=False)

In [25]:
cruise_pre_data = pd.read_csv('cruise_pre_filled.csv')
cruise_pre_data = cruise_pre_data.drop(['index','Logging'], axis=1)

# Check for duplicate rows
duplicate_pre_rows = cruise_pre_data[cruise_pre_data.duplicated()]

# # Print the result
print("Duplicate Rows (excluding first occurrence):")
print(duplicate_pre_rows)

# Remove duplicate rows
cruise_pre_data = cruise_pre_data.drop_duplicates()
cruise_pre_data.to_csv('cruise_pre_remove_dup.csv', index=False)

Duplicate Rows (excluding first occurrence):
        Ext_Intcode  Gender Date of Birth         Source of Traffic  \
5       LB218CFLOBS    Male    07/01/1960  Direct - Company Website
13      LB810DDUDEB  Female    08/05/2000  Direct - Company Website
30      LB409GVSFKP     NaN    12/03/1987  Direct - Company Website
38      BL870JKZNZY  Female    23/09/2009  Direct - Email Marketing
49      LB325CKADFV    Male    15/11/1987   Indirect - Social Media
...             ...     ...           ...                       ...
133587  LB274MWJVBB    Male    20/08/2006  Direct - Email Marketing
133664  BL716GVSXZH  Female    24/03/1984  Indirect - Search Engine
133713  LB587YIYYVT  Female    16/06/1970  Direct - Email Marketing
133732  BL767MCLTEW    Male    15/03/1958  Direct - Company Website
133742  LB957GHIRBD  Female           NaN  Indirect - Search Engine

        Onboard Wifi Service  Embarkation/Disembarkation time convenient  \
5         Somewhat important                                         4.0
13                       NaN                                         5.0
30        Somewhat important                                         3.0
38        A little important                                         1.0
49      Not at all important                                         1.0
...                      ...                                         ...
133587    Somewhat important                                         4.0
133664    A little important                                         2.0
133713    A little important                                         2.0
133732        Very important                                         5.0
133742    A little important                                         1.0

        Ease of Online booking  Gate location Onboard Dining Service  \
5                          2.0            NaN   Not at all important
13                         1.0            5.0    Extremely important
30                         3.0            3.0         Very important
38                         2.0            3.0         Very important
49                         1.0            2.0   Not at all important
...                        ...            ...                    ...
133587                     3.0            NaN                    NaN
133664                     2.0            1.0         Very important
133713                     2.0            2.0         Very important
133732                     4.0            5.0   Not at all important
133742                     1.0            4.0                    NaN

        Online Check-in  Cabin Comfort Onboard Entertainment  Cabin service  \
5                   2.0            1.0  Not at all important            3.0
13                  1.0            5.0   Extremely important            5.0
30                  4.0            NaN        Very important            4.0
38                  2.0            4.0                   NaN            3.0
49                  1.0            1.0  Not at all important            5.0
...                 ...            ...                   ...            ...
133587              3.0            1.0        Very important            3.0
133664              2.0            4.0        Very important            3.0
133713              3.0            5.0        Very important            4.0
133732              4.0            1.0  Not at all important            5.0
133742              2.0            4.0        Very important            5.0

        Baggage handling  Port Check-in Service  Onboard Service  Cleanliness
5                    3.0                    5.0              2.0          1.0
13                   4.0                    5.0              5.0          5.0
30                   4.0                    3.0              4.0          5.0
38                   4.0                    3.0              3.0          4.0
49                   2.0                    5.0              NaN          1.0
...                  ...                    ...              ...          ...
133587               5.0                    5.0              4.0          4.0
133664               4.0                    3.0              2.0          4.0
133713               4.0                    5.0              4.0          4.0
133732               4.0                    4.0              4.0          1.0
133742               4.0                    3.0              5.0          4.0

[3896 rows x 17 columns]

In [26]:
cruise_post_data = pd.read_csv('cruise_post_filled.csv')
cruise_post_data = cruise_post_data.drop(['index'], axis=1)

# Check for duplicate rows
duplicate_post_rows = cruise_post_data[cruise_post_data.duplicated()]

# Print the result
print("Duplicate Rows (excluding first occurrence):")
print(duplicate_post_rows)

# Remove duplicate rows
cruise_post_data = cruise_post_data.drop_duplicates()
cruise_post_data.to_csv('cruise_post_remove_dup.csv', index=False)

Duplicate Rows (excluding first occurrence):
        Ext_Intcode Cruise Name Ticket Type Cruise Distance  WiFi  Dining  \
5       LB218CFLOBS      Lapras    Standard      1145 Miles   NaN       1
13      LB810DDUDEB       blast    Standard       236 Miles   NaN       0
30      LB409GVSFKP   Blastoise      Luxury         2450 KM   1.0       1
38      BL870JKZNZY   blastoise    Standard         1085 KM   NaN       0
49      LB325CKADFV   Blastoise    Standard          956 KM   NaN       1
...             ...         ...         ...             ...   ...     ...
133587  LB274MWJVBB      IAPRAS    Standard          239 KM   NaN       1
133664  BL716GVSXZH         NaN      Luxury       866 Miles   1.0       1
133713  LB587YIYYVT   Blastoise      Luxury         2075 KM   0.0       1
133732  BL767MCLTEW      Lapras      Deluxe          936 KM   NaN       0
133742  LB957GHIRBD   Blastoise    Standard         1506 KM   NaN       1

        Entertainment
5                 NaN
13                NaN
30                1.0
38                NaN
49                NaN
...               ...
133587            NaN
133664            1.0
133713            1.0
133732            0.0
133742            NaN

[3896 rows x 7 columns]

In [19]:
# Load the cruise_pre_data and cruise_post_data DataFrames (assuming they are CSV files)
# cruise_pre_csv = pd.read_csv('cruise_pre.csv')
# cruise_post_csv = pd.read_csv('cruise_post.csv')

# Perform the join operation on the 'Ext_Intcode' column
result_df = pd.merge(cruise_pre_csv, cruise_post_csv, on='Ext_Intcode', how='inner')

# Save the resulting DataFrame to a CSV file
result_df.to_csv('cruise_combine.csv', index=False)

NameError: name 'cruise_pre_csv' is not defined